<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title campdocBack
    body
        .ToMiddleFivty
            h2.campdoc_title Title
            input(type="text" id="Title")
            h2.campdoc_title Note
            input(type="text" id="Note")
            h2.campdoc_title linkName
            input(type="text" id="linkName")
            h2.campdoc_title Link
            input(type="text" id="Link")
            h2.campdoc_title ImgLink
            input(type="text" id="ImgLink")
        #warning
        #sendout.shareTopMargin.ToMiddle 點我送出