<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h2#title.campdoc_title Title
        img.ToMiddle(src='https://img.onl/30fUx7', alt='')
        h3#note.campdoc_note Note:
        p.campdoc_note
            a(href="http://" id="link")
        img.ToMiddle(src="", alt="", id="campdocImg")