<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Done
    body
        #message.FontWhite 恭喜購買完成囉！
        #back.ToMiddleFivty 按我回到原本頁面
        p.note （如果自己按上一頁會看不到資料更新喔！）