<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Govern
    body
        .ToMiddleFivty
            h2.FontWhite 選擇隊伍
            select.borderWhite(id="team")
            h2.FontWhite 更改
            #changing
                p 金錢&emsp;
                    span#moneyInt
                    | &emsp;+&emsp;
                    input(type="text" id="money")
                    .button#money_butt 送出
            br
            .button#clearAllMoney 金錢清空